<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="list">
    <ion-router-outlet name="list"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="favorite">
    <ion-router-outlet name="favorite"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="profile">
      <ion-router-outlet name="profile"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="settings">
        <ion-router-outlet name="settings"></ion-router-outlet>
      </ion-tab>

  <ion-tab-bar slot="top">

    <ion-tab-button tab="home" href="/tabs/tabs/(home:home)">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list" href="/tabs/tabs/(list:list)">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite" href="/tabs/tabs/(favorite:favorite)">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/tabs/(profile:profile)">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/tabs/(settings:settings)">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
