    .item-ios{
        background: var(--ion-color-secondary);
        border-radius: 10px;
        color:  var(--ion-color-light);
        margin-bottom: 8px;
        float: left;
        padding: 15px;
        min-height: 60px;
        &:nth-child(2n){
            width: calc(100% - 133px);
        }
        &:nth-child(2n+1){
            width: 125px;
        }
        &:nth-child(3n+3){
            width: 100%;
            img{
                 position: absolute;
                 left: 15px;
                 top: 0;
            }
        }
        &:nth-child(3n+1){
            margin-right: 4px;
        }
        &:nth-child(3n+2){
            margin-left: 4px;
        }
        &:last-child{
            margin-bottom: 0;
        }
         .item-inner{
         padding: 0 !important;
             ion-label{
                 margin: 0;
                 img{
                     height: 50px;
                     object-fit: contain;
                     display: block;
                     margin: 0 auto;
                     margin-top: 20px;
                     margin-bottom: 10px;
                 }
                 .num_items{
                     position: absolute;
                     top: 10px;
                     right: 10px;
                     color:var(--ion-color-light); 
                     .number{
                         min-width: 25px;
                         height: 25px;
                         line-height: 15px;
                         padding: 5px;
                         border-radius: 50%;
                         background: var(--ion-color-light);
                         text-align: center;
                         display: inline-block;
                         color: var(--ion-color-secondary);
                         margin-bottom: 2px;
                     }
                     .distance{
                         display: block;
                         font-size: 12px;
                         opacity: .9;
                     }
                 }
             }
         }
    }
