
    
    // Swipe small icons color in white.
    .swiper-pagination-bullet-active {
        background: white;
    }

    //Image background
    .bg-image {
        background-image: url('../../assets/imgs/s2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    // Padding in bottom of welcome
    .padding {
        padding-bottom: 100px;
    }

    