<ion-slides pager>

  <!-- This is first slider -->
  <ion-slide style="background-color: #41c6f1">
    <ion-icon ios="ios-globe" md="md-globe" style="zoom:5.0;"></ion-icon>
    <h1 style="color: #ebebeb">Howdy, looking for any place?</h1>
    <p style="font-family:open-sans; font-size:14px; color:#ebebeb">Find Near Me helps on your <b>own</b> terms, <i>anywhere
        in the world!</i>!</p>
  </ion-slide>

  <!-- This is second slider -->
  <ion-slide style="background-color: #8BC34A ">
    <ion-icon ios="ios-heart" md="md-heart" style="zoom:5.0;"></ion-icon>
    <h1 style="color: #ebebeb"> Movie Theater, Tourist Place or Lovers Point!!! Hmmm...</h1>
    <p style="font-family:open-sans; font-size:14px; color: #ebebeb">Catch-up any place <b>with</b> your own <i>desired
        root!</i>.</p>
  </ion-slide>

  <!-- This is third lider -->
  <ion-slide style="background-color: #FF9800">
    <ion-icon ios="ios-restaurant" md="md-restaurant" style="zoom:5.0;"></ion-icon>
    <h1 style="color: #ebebeb"> Restaurants, Grocery Stores, Hospitals, Toilets </h1>
    <p style="font-family:open-sans; font-size:14px; color: #ebebeb">Ask <b>any</b> help, <b>Find Near Me</b> works on
      your <i>any device</i>!</p>
  </ion-slide>

  <!-- This is final slider uses BG IMAGE for backgroud image later on at welcome.scss-->
  <ion-slide class="bg-image">
    <h1 style="color:#ebebeb">Welcome to Find Near Me!</h1>
    <h4 style="color:#ebebeb">Your Personal Companion</h4>
    <h2 class="padding" style="font-family:open-sans; font-size:14px; color:#ebebeb">
      Anytime, Anywhere, Together
    </h2>

    <!--Button to continue -->
    <div style="position:absolute; bottom: 120px; text-align:center; z-index:1000; width:100%">
        <button ion-button href="/nextPage" routerDirection="forward" color="myWhite" round outline>Let's Go!</button>
    </div>
  </ion-slide>

</ion-slides>

<!--
      Generated template for the WelcomePage page.
    
      See http://ionicframework.com/docs/components/#navigation for more info on
      Ionic pages and navigation.
    ########################
    ///// Delete old code! 
    ########################
    
    <ion-header>
    
      <ion-navbar>
        <ion-title>welcome</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
    
    </ion-content>
    
    ########################
    ///// This is an example of Ionic Slider, it is better to try before diving into bigger sea!! 
    ########################
    <ion-slides>
      <ion-slide style= "background-color: #41c6f1">
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
    <i class="fa fa-globe" aria-hidden="true"></i> 
    <i class="fa fa-video-camera" style="font-size:120px; color:#ebebeb" aria-hidden="true"></i>   
    -->