<ion-content class="login_register" padding text-center>
    <div class="login_form">
      <ion-list  no-margin>

        <ion-item no-lines no-padding>
          <ion-input type="text" placeholder="First name" value="" no-margin></ion-input>
        </ion-item>

        <ion-item no-lines no-padding>
          <ion-input type="text" placeholder="Last name" no-margin></ion-input>
        </ion-item>
        
        <ion-item no-lines no-padding>
          <ion-input type="email" placeholder="Email address" value="" no-margin></ion-input>
        </ion-item>

        <ion-item no-lines no-padding>
          <ion-input type="password" placeholder="Password" no-margin></ion-input>
        </ion-item>

      </ion-list>
          <button color="secondary" ion-button href="/tabs" routerDirection="forward" block round>Sign up</button>
    </div>
    <div class="create_account">
        <button text-uppercase ion-button clear href="/" routerDirection="backward">Back</button>
    </div>
</ion-content>

